<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js ToDo</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="app">
      <h1>ToDo List</h1>
      <div class="select-status">
        <label v-for="label in options">
          <input type="radio"
            v-model="current"
            v-bind:value="label.value">{{ label.label }}
        </label>
        {{ computedTodos.length }} 件を表示中
      </div>
      <table>
        <thead>
          <tr>
            <th class="id">ID</th>
            <th class="comment">Task</th>
            <th class="state">Status</th>
            <th class="button">-</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in computedTodos" v-bind:key="item.id">
            <th>{{ item.id }}</th>
            <td class="task" v-if="item.updating" v-on:click="updateTask(item)">{{ item.comment }}</td>
            <td v-else>
              <input class="update-form" v-on:keydown.enter="updateTask(item)" type="text" v-model="item.comment">
            </td>
            <td class="state">
              <button v-on:click="doChangeState(item)">{{ labels[item.state] }}</button>
            </td>
            <td class="button">
              <button v-on:click="doRemove(item)">削除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h4>Add New Task</h4>
      <form class="add-form" v-on:submit.prevent="doAdd">
        <input type="text" ref="comment">
        <button type="submit">追加</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
