* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background: #0099e4;
}

#app {
  max-width: 640px;
  margin: 0 auto;
  color: #fff;
}

h1 {
  font-style: italic;
  text-align: center;
}

.select-status {
  text-align: center;
}

table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}
thead th {
  border-bottom: 2px solid #fff; /*#d31c4a */
  color: #fff;
}
th,
th {
  padding: 0 8px;
  line-height: 40px;
}
thead th.id {
  width: 50px;
}
thead th.state {
  width: 100px;
}
thead th.button {
  width: 60px;
}
tbody td.button, tbody td.state {
  text-align: center;
}
tbody tr td,
tbody tr th {
  border-bottom: 1px solid #ccc;
  transition: all 0.4s;
}
tbody tr.done td,
tbody tr.done th {
  background: #f8f8f8;
  color: #bbb;
}
tbody tr:hover td,
tbody tr:hover th {
}

.task {
  cursor: pointer;
}

.update-form {
  font-size: 16px;
  width: 400px;
}

button {
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 0 8px;
  color: #0099e4;
  background: #fff;
  cursor: pointer;
}

.add-form input {
  width: 500px;
  height: 40px;
  margin-right: 5px;
  font-size: 14px;
}
